@media only screen and (max-width: 1320px) {
    .container {
        width: 330px;
    }

    .blog-sec {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .blog-sec__slider-wrapper {
        .blog-sec__slider {
            .swiper-slide {
                width: 306px;
            }
        }

        .swiper-slide:first-child {
            margin-left: calc(50% - 165px);
        }
    }

    .post-blog {
        padding: 15px;
    }

    .post-blog__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        margin-top: 5px;
    }

    .post-blog__subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-top: 5px;
    }

    .btnV1 {
        border-radius: 5px;
        padding: 9px;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
    }

    .container-slider-blog {
        width: 100%;
    }

    .search-sec {
        padding-bottom: 20px;
    }

    .search-result__set-values-nav {
        overflow-x: auto;
        max-width: 100%;
    }

    .search-result {
        padding: 0;
    }

    .search-event-component__back-mob-wrapper {
        display: block;
    }

    .search-result__set-values-nav-element {
        padding: 9px 15px;
    }

    .search-result__set-values-nav-element-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        white-space: nowrap;
    }

    .search-result__set-values-nav {
        background: none;
    }

    .search-result-wrapper {
        position: relative;
        top: auto;
    }

    .search-result {
        max-height: 10000px;
        background: none;
    }

    .search-result__body {
        padding-top: 0;
    }

    .search-result__result-elemen-counter {
        display: none;
    }

    .sport-nav__slider-mob-wrapper {
        position: relative;
        padding: 6px;
        display: block;


        &:before {
            width: 100%;
            height: calc(100% - 15px - 4px);
            background: $blue3;
            border-radius: 10px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            content: "";

        }

        .swiper {
            padding-bottom: 20px;
            position: relative;
            z-index: 10;
        }


        .swiper-scrollbar {
            top: auto;
            bottom: 0;
            background: $blue3;
            width: 100%;
            left: 0;
            border-radius: 100px;
        }

        .swiper-scrollbar-drag {
            background: $blue5;
        }

        .swiper-slide {
            width: 166px;
        }
    }

    .sport-nav {
        display: none;
    }

    .nav-sec {
        padding-bottom: 20px;
    }

    .lobby-events__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    .sort-list__header {
        height: 32px;
        padding-right: 34px;
    }

    .lobby-events__change-view-btn {
        width: 32px;
        height: 32px;
    }

    .sort-list__value {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1;
    }

    .lobby-category__header-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
    }

    .rate-card__row {
        flex-wrap: wrap;
    }

    .rate-card__col-1 {
        width: 100%;
        display: none;
    }

    .rate-card__col-2 {
        width: 100%;
    }

    .rate-card__col-3 {
        display: none;
    }

    .rate-card__field {
        height: 46px;
    }

    .rate-card__field-title {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px
    }

    .rate-card__field-value {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }

    .lobby-events__category-element {
        margin-bottom: 10px;

        .rate-card:first-child {
            padding-top: 5px;
        }
    }

    .lobby-events__body-btn-wrapper {
        padding-top: 5px;
    }

    .rate-card__row-header {
        display: none;
    }

    .rate-card__row-header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .rate-card__row-header-mobile-left {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .rate-card__col-1-title {
            svg {
                margin-right: 5px;
                display: block;
            }
        }

        .rate-card__resoult-list-counter {
            margin-left: 5px;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
        }
    }

    .rate-card__row-header-mobile-right {
        display: flex;
        align-items: center;

        .rate-card__resoult-list-icon-wrapper {
            margin-left: 10px;
        }

        .rate-card__more {
            margin: 0;
            padding: 0;
            margin-left: 10px;
        }
    }

    .rate-card__row-header-mobile-top {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .rate-card__row-header-mobile-customers {

        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        margin-top: 10px;
        color: $white;

    }

    .rate-card__row-header-mobile-customers-value {
        display: inline-flex;
        align-items: center;
        margin-bottom: 5px;

        svg {
            margin-left: 5px;
        }
    }

    .rate-card__row-header {
        display: flex;
    }

    .rate-card__col-2-mob-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
    }

    .rate-card__col-2-title {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        overflow: hidden;
        /* Прячем лишний текст */
        white-space: nowrap;
        /* Оставляем текст в одну строку */
        text-overflow: ellipsis;
        /* Включаем стандартное троеточие для переполненного текста */
    }

    .rate-card__row-header {
        display: none;
    }

    .rate-card__fields-2 .rate-card__field {
        width: calc(50% - 2.5px);
    }

    .rate-card__fields-3 .rate-card__field {
        width: calc(33.33% - 3.3px);
    }

    .rate-card__field-title {
        width: 100%;
    }

    .rate-card__field-value-wrapper {
        width: 100%;
    }

    .rate-card__field-title {
        overflow: hidden;
        /* Прячем лишний текст */
        white-space: nowrap;
        /* Оставляем текст в одну строку */
        text-overflow: ellipsis;
        /* Включаем стандартное троеточие для переполненного текста */
    }

    .rate-card__resoult-link-cat-row-mob {
        display: flex;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .rate-card__col-2-mob-title-3-col {
        justify-content: space-between;

        .rate-card__col-2-title {
            width: calc(33.333% - 3.3px);
        }
    }



    .rate-card__col-2_string-1 {

        .rate-card__field-coll {
            width: calc(100%);
            display: flex;
            justify-content: space-between;
        }

        .rate-card__field-coll_3-elements {
            flex-wrap: wrap;

            .rate-card__field-row {
                width: calc(33.333% - 3.3px);
            }
        }

        .rate-card__fields-3 {
            flex-wrap: wrap;

            .rate-card__field {
                width: 100%;
                height: 46px;
                margin-bottom: 5px;

            }
        }

        .rate-card__field-coll_2-elements {
            width: 100%;
            flex-wrap: wrap;

            .rate-card__field-row {
                width: calc(50% - 2.5px);
            }
        }

        .rate-card__field-loked-wrapper {
            flex-wrap: wrap;
        }



    }

    .rate-card__col-2_string-2 {
        .rate-card__fields-3 {
            flex-wrap: wrap;
            width: 100%;

            .rate-card__field-coll {
                width: 100%;
            }

            .rate-card__field-coll_3-elements {
                flex-wrap: wrap;
                display: flex;
                justify-content: space-between;

                .rate-card__field-row {
                    width: calc(33.333% - 3.3px);


                    .rate-card__field-stoped-wrapper {
                        width: 100%;
                        padding: 0;
                    }

                    .rate-card__field-stoped-title {
                        overflow: hidden;
                        width: 100%;
                        /* Прячем лишний текст */
                        white-space: nowrap;
                        /* Оставляем текст в одну строку */
                        text-overflow: ellipsis;
                        /* Включаем стандартное троеточие для переполненного текста */
                    }

                    .rate-card__field-stoped-value {
                        overflow: hidden;
                        width: 100%;
                        /* Прячем лишний текст */
                        white-space: nowrap;
                        /* Оставляем текст в одну строку */
                        text-overflow: ellipsis;
                        /* Включаем стандартное троеточие для переполненного текста */

                    }
                }
            }

            .rate-card__field-coll_2-elements {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .rate-card__field-row {
                    width: calc(50% - 2.5px);
                    margin-bottom: 5px;
                    height: auto;

                    .rate-card__field-stoped-wrapper {
                        padding: 0;
                        width: 100%;

                        .rate-card__field-stoped-title {
                            overflow: hidden;
                            width: 100%;
                            /* Прячем лишний текст */
                            white-space: nowrap;
                            /* Оставляем текст в одну строку */
                            text-overflow: ellipsis;
                            /* Включаем стандартное троеточие для переполненного текста */
                        }

                        .rate-card__field-stoped-value {
                            overflow: hidden;
                            width: 100%;
                            /* Прячем лишний текст */
                            white-space: nowrap;
                            /* Оставляем текст в одну строку */
                            text-overflow: ellipsis;
                            /* Включаем стандартное троеточие для переполненного текста */

                        }
                    }


                }
            }
        }
    }

    .lobby__events-claster {
        padding-bottom: 30px;
    }

















    // MY BETS PAGE

    .my-bets__coll {
        display: contents
    }

    .my-bets__grid {
        display: block;
    }







    //FAVORITES PAGE
    .lobby-events__header-row {
        flex-wrap: wrap;
    }

    .favorites__filtr {
        margin-bottom: 20px;
    }




    // EVENT SINGLE PAGE

    .event-single-sec__big-container {
        width: 100%;
    }

    .event-single-sec {
        padding-top: 20px;
    }

    .event-single-sec__link-row {

        width: calc(100% - 24px);
        padding-left: 10px;
        margin-left: 0;
        background: none;

        span {
            display: none;
        }

        .event-single-sec__link {
            color: $white;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            overflow: hidden;
            /* Прячем лишний текст */
            white-space: nowrap;
            /* Оставляем текст в одну строку */
            text-overflow: ellipsis;
        }

    }

    .event-single-sec__back {
        width: 24px;
        height: 24px;
    }

    .event-single-sec__link-cat {
        display: none;
    }

    .event-banner_PC {
        display: none;
    }

    .event-banner-mob {
        display: block;

    }

    .event-single-sec__bets-container {
        margin-top: 20px;
    }

    .event-single-sec__current-values-search {
        margin-top: 20px;
    }

    .bet-event-claster__row {
        flex-wrap: wrap;
    }

    .bet-event-claster_col-3 {
        .bet-event-claster__col {
            width: 100%;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .bet-event-claster_range {
        .bet-event-claster__col {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .bet-event-claster_col-2-long {
        .bet-event-claster__col-short {
            width: 100%;
            margin-bottom: 5px;

            .sort-list__header {
                height: 40px;
            }
        }
    }

    .lobby-events__buttons-contorll {
        margin-bottom: 5px;
    }

    .lobby-events__title {
        margin-bottom: 5px;
    }

    .blur-background_show {
        opacity: 0;
        pointer-events: none;
    }

}