$mainFont: "Roboto", sans-serif;

$white: #fff;
$black: #000;



$blue1: #0F1923;
$blue2: #1D2736;
$blue3: #161F2C;
$blue4: #232E3E;
$blue5: #29374B;

$grey1: #CFD8E5;
$grey2: #8696AD;
$grey3: #586C88;
$grey4: #70819A;
$grey5: #586C88;
$grey6: #9DB8E1;

$green1: #00BD71;

$red1: #FA305C;

$yellow1: #FFBC00;