.bet-ordenar {
    width: 100%;
    background: $blue5;
    border-radius: 10px;
    overflow: hidden;
}

.bet-ordenar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: solid 1px #33455D;
}

.bet-ordenar__close-icon {
    cursor: pointer;

    svg {
        display: block;
    }
}

.bet-ordenar__heder-title {
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
}

.bet-ordenar__live {
    width: 32px;
    height: 16px;
    background: $red1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: $white;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-right: 5px;
}

.bet-ordenar__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: $grey2;
}

.bet-ordenar__body {
    padding: 10px 14px;
}

.bet-ordenar__winner {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $grey2;
    margin-bottom: 2px;
}

.bet-ordenar__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bet-ordenar__winner-name {
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.bet-ordenar__cof-wrapper {
    display: flex;
    align-items: center;
}

.bet-ordenar__cof {
    margin-left: 5px;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 5px;
    border: solid 1px $green1;
    color: $green1;
}

.bet-ordenar__money-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bet-ordenar__money-input-wrapper {
    width: 145px;
    height: 34px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    background: $blue3;
}

.bet-ordenar__money-icon {
    position: absolute;
    right: 10px;

    svg {
        display: block;
    }
}

.bet-ordenar__money-input {
    padding-left: 10px;
    padding-right: 38px;
    width: 100%;
    background: none;
    border: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $white;
}

.bet-ordenar__money-pay-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: $grey2;
}

.bet-ordenar__money-value {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $grey2;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;

    svg {
        display: block;
        margin-left: 5px;
    }
}

.bet-ordenar__close-warning {
    color: $red1;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.bet-ordenar_close-status {
    opacity: 0.5;
}