.lobby-category {
    border-radius: 10px;
    width: 100%;
    background: $blue4;

}

.lobby-category__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px;
}

.lobby-category__body {
    padding: 0 15px 15px 15px;
}

.lobby-category__header-ar {
    svg {
        transition: all ease 0.3s;
        display: block;
        transform: rotate(-90deg);
    }
}

.lobby-category__header-ar_activ {
    svg {
        transform: rotate(0deg);
    }
}

.lobby-category__header-counter {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 2px 5px;
    color: $grey2;
    background: $blue5;
    border-radius: 5px;
    margin-right: 10px;
}

.lobby-category__header-title {
    width: calc(100% - 50px);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $white;
}

.lobby-category__header-right {
    display: flex;
    align-items: center;
}

.lobby-events__category-element {
    .rate-card {


        &:first-child {
            border-top: none;
        }
    }
}

.rate-card {
    padding: 15px 0;
    border-top: solid 1px #33455D;


}

.rate-card__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-card__col-1 {
    width: 33.09%;
}

.rate-card__col-2 {
    width: 58.99%;
}

.rate-card__col-3 {
    width: 7.72%;

}

.rate-card__row-header {
    padding: 5px 0;
    margin-bottom: 5px;
}

.rate-card__col-2-header-value-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rate-card__col-2-title {
        width: calc(50% - 5px);
    }
}

.rate-card__col-2-header-value-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .rate-card__col-2-title {
        width: calc(33.33% - 6.5px);
    }
}

.rate-card__col-1-title {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: $grey2;
}

.rate-card__col-1-title-live {
    padding: 2px 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    background: $red1;
    color: $white;
    display: inline-block;
    margin-right: 5px;
    border-radius: 3px;
}

.rate-card__col-2-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: $grey2;
    text-align: center;
}

.rate-card__resoult-list {
    width: 100%;
    padding-right: 20px;
}

.rate-card__resoult-list-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    &:last-child {
        margin-bottom: 0;
    }
}

.rate-card__resoult-list-values {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rate-card__resoult-list-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: $white;
}

.rate-card__resoult-list-icon-wrapper {
    margin-left: 15px;
    width: 16px;

    svg {
        display: block;
    }
}

.rate-card__resoult-list-counter {
    color: $yellow1;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.rate-card__fields-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rate-card__field {
    background: $blue3;
    border-radius: 5px;
    height: 64px;
    border: solid 1px $blue3;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;

    &:hover {
        background: rgba(0, 189, 133, 0.07);
        transition: all ease 0.3s;
        border: solid 1px rgba(0, 189, 133, 0.07);
    }

    &:active {
        border: solid 1px $green1;
        transition: all ease 0.3s;
    }
}

.rate-card__field-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $white;
}

.rate-card__field-value-row {
    display: flex;
    align-items: center;

    svg {
        display: block;
    }
}

.rate-card__field-value {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $green1;
}

.rate-card__more {
    padding-left: 20px;
    padding-right: 30px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: $grey2;
}

.rate-card__resoult-link-cat-row {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: $grey2;
    margin-top: 5px;
}

.rate-card__resoult-link-cat-row-link {
    color: $grey2;
    transition: all ease 0.3s;

    &:hover {
        color: $white;
        transition: all ease 0.3s;
    }
}

.rate-card__field-value-wrapper {
    padding: 0 14px;
}

.rate-card__field-loked {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
        display: block;
    }
}





.rate-card__field-stoped-wrapper {
    padding: 0 14px;
    opacity: 0.5;
}

.rate-card__field-stoped-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $white;
}

.rate-card__field-stoped-value {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: $grey2;
}

.rate-card__resoult-list-counter-white {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color: $grey2;
    margin-right: 15px;
}

.rate-card__field-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: $blue3;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: all ease 0.3s;
    border: solid 1px $blue3;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background: rgba(0, 189, 133, 0.07);
        transition: all ease 0.3s;
        border: solid 1px rgba(0, 189, 133, 0.07);
    }

    &:active {
        border: solid 1px $green1;
        transition: all ease 0.3s;
    }



}

.rate-card__field-stoped {

    &:hover {
        background: $blue3;
        border: solid 1px $blue3;
    }

    &:active {
        background: $blue3;
        border: solid 1px $blue3;
    }
}

.rate-card__fields-1 {
    .rate-card__field {
        width: 100%;
    }
}

.rate-card__fields-2 {
    .rate-card__field {
        width: calc(50% - 5px);
    }

    .rate-card__field-coll {
        width: calc(50% - 5px);
    }
}

.rate-card__fields-3 {
    .rate-card__field {
        width: calc(33.33% - 6.5px);
    }

    .rate-card__field-coll {
        width: calc(33.33% - 6.5px);
    }
}



.rate-card__col-2_string-1 {

    .rate-card__field-coll_2-elements {
        .rate-card__field-row {
            height: 44.5px;
            padding: 0 14px;
        }
    }

    .rate-card__field-coll_3-elements {
        .rate-card__field-row {
            height: 28px;
            padding: 0 14px;
        }
    }

    .rate-card__field {
        height: 94px;
    }
}


.rate-card__col-2_string-2 {

    .rate-card__field-coll_2-elements {
        .rate-card__field-row {
            height: 64px;
            padding: 0 14px;
        }
    }

    .rate-card__field-coll_3-elements {
        .rate-card__field-row {
            height: 41px;
            padding: 0 14px;
        }
    }

    .rate-card__field {
        height: 133px;
    }
}

.lobby-category__load-more-btn {
    .btnV1 {
        display: inline-block;
        width: auto;
        padding: 9px 16px;
    }
}

.rate-card__row-header-mobile {
    display: none;
}

.rate-card__col-2-mob-title {
    display: none;
}

.rate-card__resoult-link-cat-row-mob {
    display: none;
}

.rate-card__field-loked-wrapper {

    .rate-card__field {
        width: 100%;
    }


}